

<a href="/door1"><img src='/door-<%=  @gold.to_i == 1 ? "gold" : "donkey" %>.png'></a><a href="/door2"><img src='/door-<%=  @gold.to_i == 2 ? "gold" : "donkey" %>.png'></a><a href="/door3"><img src='/door-<%=  @gold.to_i == 3 ? "gold" : "donkey" %>.png'></a>
<br>
<%= @outcome %>
